/**
 * Generates a set of style rules for the "navigation" tab UI.
 */
@include extjs-tab-panel-ui(
    $ui: 'navigation',
    $ui-tab-background-color: transparent,
    $ui-tab-background-color-over: #505050,
    $ui-tab-background-color-active: #303030,
    $ui-tab-background-gradient: 'none',
    $ui-tab-background-gradient-over: 'none',
    $ui-tab-background-gradient-active: 'none',
    $ui-tab-color: #acacac,
    $ui-tab-color-over: #c4c4c4,
    $ui-tab-color-active: #fff,
    $ui-tab-glyph-color: #acacac,
    $ui-tab-glyph-color-over: #c4c4c4,
    $ui-tab-glyph-color-active: #fff,
    $ui-tab-glyph-opacity: 1,
    $ui-tab-border-radius: 0,
    $ui-tab-border-width: 0,
    $ui-tab-inner-border-width: 0,
    $ui-tab-padding: 24px,
    $ui-tab-margin: 0,
    $ui-tab-font-size: 15px,
    $ui-tab-font-size-over: 15px,
    $ui-tab-font-size-active: 15px,
    $ui-tab-line-height: 19px,
    $ui-tab-font-weight: bold,
    $ui-tab-font-weight-over: bold,
    $ui-tab-font-weight-active: bold,
    $ui-tab-icon-width: 24px,
    $ui-tab-icon-height: 24px,
    $ui-tab-icon-spacing: 5px,
    $ui-bar-background-color: #404040,
    $ui-bar-background-gradient: 'none',
    $ui-bar-padding: 0,
    $ui-strip-height: 0
);

/**
 * Generates a set of style rules for the "navigation" panel UI.
 */
@include extjs-panel-ui(
    $ui: 'navigation',
    $ui-header-color: #fff,
    $ui-header-glyph-color: #fff,
    $ui-header-glyph-opacity: 1,
    $ui-header-font-size: 20px,
    $ui-header-line-height: 24px,
    $ui-header-font-weight: bold,
    $ui-header-icon-height: 24px,
    $ui-header-icon-width: 24px,
    $ui-header-icon-spacing: 15px,
    $ui-header-background-color: $base-color,
    $ui-header-padding: 0,
    $ui-header-text-margin: 36px,
    $ui-header-noborder-adjust: false
);

.x-title-icon-navigation {
    font-family: FontAwesome;
    color: #fff;
    font-size: 24px;
    line-height: 24px;
}

.x-tab-icon-el-navigation {
    font-family: FontAwesome;
    color: #acacac;

    .x-tab-over & {
        color: #c4c4c4;
    }

    .x-tab-active & {
        color: #fff;
    }
}

.x-panel-header-title-navigation > .x-title-text-navigation:after {
    top: 30px;
    right: -24px;
}

html {
    background: url('images/bg_final.png') top center;
}

.x-grid-group-hd {
    background: url('images/pattern3.png') top center; 
}

.x-grid-group-title {
    color: black;
    font-weight: bold;
}

.x-grid-group-hd-collapsible .x-grid-group-title:before {
    color: black;
}

.x-tabpanel-child .x-panel-body.x-panel-body-default {
    background: transparent;  
}

.x-tabpanel-child .x-panel-body.x-panel-body-default .x-grid-view {
    background: #000000;
}

.x-livesearch-match {
    color: yellow;
    font-weight: bold;
}
.x-panel-body.x-panel-body-navigation {
    background: url('images/main-background8.jpg') top center; 
}

.app-title {
    text-align: left;
}
.app-title span {
    font-size: 13px;
}

.x-boundlist .x-boundlist-item {
    color: black;
}

.x-action-col-icon {
    height: 22px;
    width: 22px;
    margin-right: 10px;
}

/* Sets the background image for the wheel */
td.the_wheel
{
    background-image: url('images/wheel_back_green.png');
    background-position: center;
    background-repeat: none;
}

/* Do some css reset on selected elements */

div.power_controls
{
    margin-right: 50px;
}

/* Styles for the power selection controls */
table.power
{
    width: 100px;
    background-color: #cccccc;
    cursor: pointer;
    border:1px solid #333333;
    color: #000;
    box-shadow: 6px 6px 6px #19191B;
}

#spin_button {
    box-shadow: 6px 6px 6px #19191B;
}

table.power th
{
    background-color: white;
    cursor: default;
}

td.pw1, td.pw2, td.pw3 {
    font-weight: bold;
}
td.pw1
{
    background-color: #6fe8f0;
}

td.pw2
{
    background-color: #86ef6f;
}

td.pw3
{
    background-color: #ef6f6f;
}

/* Style applied to the spin button once a power has been selected */
.clickable
{
    cursor: pointer;
}

/* Other misc styles */
.margin_bottom
{
    margin-bottom: 5px;
}

.lucky-table {
    padding-bottom: 20px;
    margin-bottom: 50px; 
}

.wheel-title-big {
    padding-top: 20px;
    padding-bottom: 25px;
    font-size: 46px;
    margin-bottom: 5px;
}

#play_again {
    width: 100px;
    height: 100px;
}


input[type="radio"] {
    display:none;
}
input[type="radio"] + label {
    color: #292321;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Montserrat', helvetica, arial, verdana, sans-serif;    
}
input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
}

input[type="radio"] + label span {
    background-color: #292321;
}

input[type="radio"]:checked + label span {
    background-color: green;
}

input[type="radio"]:checked + label {
    color: green;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
    -webkit-transition:background-color 0.4s linear;
    -o-transition:background-color 0.4s linear;
    -moz-transition:background-color 0.4s linear;
    transition:background-color 0.4s linear;
}

.single-option {
    display: block;
    vertical-align: middle;
    padding: 10px;
}

.radio-option-container {    
    padding-left: 50px;     
}

.radio-option-main {
    background-color: #ccc;
    border: 1px solid #333;
    box-shadow: 6px 6px 6px #19191B;
}

.single-option label {
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}

.select-team-to-wheel {
    color: black;
    font-weight: bold;
    font-size: 16px;
    background: white;
    display: block;
    text-align: center;
    padding: 10px;
}

.ja_body {
    line-height: 24px !important;
}