.x-window-default .x-toolbar-footer {
    background: $light-dark-color;
}

.smiles-icon {
    background-image: url('images/icon-info.png');
    background-repeat: no-repeat;
}

.x-window-body-default {
    color: #fff;
}

